*{
  box-sizing: border-box;
}

.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 15px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    padding: 10%;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    
    border-radius: 20px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  body{
    background-color:hsla(184,52%,95%,1);
  }
 .corpus1{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 14%, rgba(249,249,249,1) 44%, rgba(224,242,243,1) 73%, rgba(200,238,241,1) 100%);
 }

  .btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
  }
 
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    padding:10px;
}
.nav-link:hover{
  color:rgb(0, 174, 255) !important;
  border-bottom: solid rgba(11, 117, 238, 0.2);
}

.nav-link:active{
 color:rgb(0, 132, 255) !important;
  border-bottom: solid;
}
.nav-link.activ{
  color:rgb(0, 132, 255) !important;
  border-bottom: solid;
}
/* Accueil + texte + boutton + scroll */
.imgAcceuil{
  background: url(img/midjourney/banner6.png) no-repeat;
  background-size:cover;
  background-position:50% 55%;
  height:100vh;
  width: 100%;
}
.buttoncentre{
  height: 50px;
  width: auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  border: 2px solid #011d22;
  border-radius: 5px;
  color: black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(rgb(10, 66, 119), #8cc9d0);
}
.buttoncentre:hover{
  background: #292d32;
  border-color: transparent;
  color:white;
}
.textbuttoncentre{
  padding:20px;
}
.circle{
  position:absolute;
  top:90%;
  left:90%;
  transform: translate(-50%,-50%);
  border: 2px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 60px;
  overflow: hidden;
}
.circle .fa-solid{
  animation: animate 1s linear infinite;
}

/* Citation + Expériences */

@keyframes animate
{
  0%{
    transform: translateY(-50px);
    text-shadow: 0 50px 0 white;
  }
  20%{
    transform: translateY(0px);
    text-shadow: 0 10px 0 white;
  }
  40%{
    transform: translateY(0px);
    text-shadow: 0 -10px 0 white;
  }
  60%{
    transform: translateY(0px);
    text-shadow: 0 0px 0 white;
  }
  1000%{
    transform: translateY(1000px);
    text-shadow: 0 -50px 0 white;

  }
}



/* FOOTER */
.imgFooter{
  background:url(img/foot.svg) no-repeat;
   background-size: cover; 
   height:40vh;
  
   display:block;
}
.imgFooterlittle{
  background:url(img/foot.svg) no-repeat;
  background-size: cover; 
  height:80vh;
 
  display:block;
}
.footStyle{
  margin-left:20%;
  margin-right:20%;
}
.footColStyle{
  margin-top:10%;
  color:white;
}
.ulfoot{
list-style-type: none;
color:white;
}
.afoot{
  color:RGB(187, 198, 193);
}
.afoot:hover{
  color:white;
}
.mailing{
padding:10px;
}

/* Notre expérience */
.corpus2{
  background: white;
 }

.containerexp{
  padding-bottom: 10%;
  display: grid;
  font-family: "Raleway";
  padding-top:3%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
   background-size: cover; 
   height:auto;
   width: auto;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1, 1fr);
   letter-spacing: 1.5px;
   align-items: center;
   justify-items: center;
}
.containerexp img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 300px;
}
.containerexp h2{
  color:#282d31;
  font-size:20px;
  font-weight: bold;
  text-align: center;
}
.compexpa{
  grid-area: 1/1/span 1/span 1 ;
  justify-content: center;
}
.compexpb{
  grid-area: 1/2/2/3;
}
.compexpc{
  grid-area: 1/3/2/4;
}



.exptext{
  background-color: #282b2f;
  font-family: "Raleway";
  color:white;
  letter-spacing: 1.5px;
  line-height: 1.5px;
  padding: 5% 5% 5% 5%;
}
.img-fluid{
  filter: drop-shadow(0 0 0.20rem rgba(30, 26, 233, 0.356));   
}
/* Nos compétences */

.containercomp{
  background-color: white;
  background-size: cover; 
   height:auto;
   width: auto;
}
.Component{
  font-family: "Raleway";
  padding-top:3%;
  margin-left: 5%;
  margin-right: 5%;
   height:auto;
   width: auto;
   display:grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(1, 1fr);
   align-items: flex-start;
   justify-items: center;
   letter-spacing: 1.5px;
}
.Component-text{
  padding-top: 0%;
  padding-bottom: 10%;
}
.Component h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 10px 0px 5px;
  color:#363636;
}
.Component p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  padding-left:5px;
  padding-right: 10px;
  color:#7c7c7c;
  font-weight: 600;
}
.Comp{
  width:300px;
  height:auto;
  cursor:pointer;
}
.Comp p{
  margin-bottom: 10%;
}
.Component span{
  font-size: 20px;
 padding-left: 2%;
}
.Component span:hover{
  font-size: 30px;
}
.Comp-text{
  border-radius: 0 0 30px 30px;
  border-top:0px;
}
.Comp:hover{
  text-decoration: none;
}
.Comp:hover h2{
  color:cyan;
}

.Compa{

  grid-area: 1 / 4 / span 2 / span 3;
}

.Compb{
 
  grid-area: 1 / 1 / span 2 / span 3;
}
.Compc{
  grid-area: 1 / 7 / span 2 / span 3;
}
.Compd{
  grid-area: 1 / 10 / span 2 / span 3;
}
.Component img{
  width: 100%;
  height: auto;
  max-height: 250px;
}

/* How it works? */
.containerhowitwork{
  
  margin-top:10%;
  padding-top: 2%;
  
}
.Componenthowitwork{
  border-radius: 30px;
  background-color: #1c2b31;
  font-family: "Raleway";
  padding: 5% 5% 5% 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bold;
   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(1, 1fr);
   justify-items: center;
   letter-spacing: 1.5px;
   align-items: center;
   color:white;
}
.Imghowitwork{
  width: 100%;
  height: 100%;
  grid-area: 1 / 2 / span 1 / span 1;
border-radius: 90%;
filter: drop-shadow(0 0 0.20rem rgb(227, 237, 243));   
}

.containertexthowitwork{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding-right: 5%;
  grid-area:1/1/span 1/ 2;
}
/* Slidere */
.containerslider{
  display:grid;
  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-items: center;
}

.slider{
  grid-area: 1/ 1 / 1 / 1;
  display:grid;
  grid-template-rows: repeat(10,1fr);
  grid-template-columns: repeat(4,1fr);
}

.sliderbtp{
grid-area: 1/1/3/3;
max-height: 250px;
width: 90%;
border:6px solid #acecb3;
}
.slidernumerique{
grid-area:2/3/4/5;
max-height: 200px;
width: 70%;
border:6px solid #acecb3;
}
.slidermgt{
grid-area:4/1/8/5;
max-height: 500px;
width: 80%;
}
.sliderchimie{
grid-area:8/1/11/3;
max-height: 200px;
width: 80%;
border:6px solid #acecb3;
}
.sliderother{
  grid-area:7/3/11/5;
  max-height: 250px;
  width: 90%;
  border:6px solid#acecb3;
  }
/* Fin de la partie : Notre secteur */
.containerSecteur{
 grid-area: 1/2/1/2;
 align-items: center;
}

.Compsecteurb{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding-right: 3%;
  color:black;
}

/* img how it work */
.maBalise {
  opacity: 1;
  transition: opacity 0.5s;
}
.container-fluid {
  padding: 0!important;
  margin-right:auto;
  margin-left:auto;
  width: 100%;
}

.imgworkreport{
  background:url(img/howitwork.svg) no-repeat;
  background-size: cover; 
  height:auto;
  width: auto;
  display:block;
}

.button {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.skeuomorphic {
  border: 2px solid #011d22;
  border-radius: 5px;
  color: #F8F8F8;
  text-shadow: 0 -2px #006bb3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
  background: linear-gradient(rgb(10 117 119), #23c3c9);
  text-shadow: 0 -2px #0c9678;
  
}

.skeuomorphic:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0e68bc;
  background: linear-gradient(#0e4bbc, #0f75d4);
  border-color: #06194f;
}

.skeuomorphic:active {
  margin-top: 2px;
  margin-bottom: -2px;
  box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
  background: #0c960c;
  background: linear-gradient(#0c960c, #0ebc0e);
}

/* Non affichage des conteneurs pour les fenetres spécialisés */
.containercompfenetre{
  display:none;
}
.containerfenetre7301300{
  display: none;
}
.containerfenetre730{
  display: none;
}
.containerfenetre730finance{
  display: none;
}
@media screen and (max-width: 1200px) {
.footStyle{
  margin-left: 0;
  margin-right: 0;
}
}
@media screen and (max-width: 768px) {
  /* styles pour les écrans de largeur inférieure à 800 pixels */
  .row{
  margin: 0 !important;;
  }
  .imgComponent{
    background-color: RGB(41, 38, 98);
  }
 .imgFooter{
  height:80vh;
 }
.footColStyle{
  margin-top:30%;
}

/*Component experience adaptation pour téléphone */
.containerexp{
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(3, 1fr);
}
.containerexp h1{
  font-size: 15px;
}
.containerexp img{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 height: 200px;
}
.compexpa{
 grid-area: 1/1/span 1/span 1 ;
 justify-content: center;
}
.compexpb{
 grid-area: 2/1/3/2;
}
.compexpc{
 grid-area: 3/1/4/2;
}
/* Component slider */

.containerslider{
  height: 100vh;
}

.slider{
 width: 100px;
 height: 100px;
}

/*Component nos expertises pour téléphone */

.Component{
  grid-template-columns: repeat(1,1fr) ;
  grid-template-rows: repeat(4,1fr);
  divCompa.style.gridArea = "1/1/2/1";
  divCompb.style.gridArea = "2/1/3/1";
  divCompc.style.gridArea = "3/1/4/1";
  divCompd.style.gridArea = "4/1/5/1";
}
.Compa {
  grid-area: 1/1/2/1;
}
.Compb{
  grid-area: 2/1/3/1;
}
.Compc {
  grid-area: 3/1/4/1;
}
.Compd {
  grid-area: 4/1/5/1;
}

.navigation{
  display: none;
}
.plansite{
  display: none;
}



/* COMPOSANT HOW IT WORK ? pour telephone */
.Componenthowitwork{

   grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(1, 1fr);
   padding-bottom: 10%;
}
.Imghowitwork{  
display: none;
}
.containertexthowitwork{
  grid-area: 1/1/1/1;
}
.containerslider{
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  height: auto;
}
.slider{
  width: 100%;
  height: auto;
  grid-area: 1/1/2/2;
}
.containerSecteur{
  grid-area: 2/1/3/2;
  padding-left:5%;
  padding-right: 5%;
}
.texthide{
  display: none;
}
/* FOOTER */
#footColId{
margin-top: 10%!important;
height: 100vh !important;
}
#plansite{
  display: none;
}

}

@media (min-width: 768px) and (max-width: 1330px) {
  .slider{
    width: 100%;
    height: auto;
  }
  .containerexp{
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(3, 1fr);
  }
  .containerexp img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
  }
  .compexpa{
    grid-area: 1/1/span 1/span 1 ;
    justify-content: center;
  }
  .compexpb{
    grid-area: 1/2/2/3;
  }
  .compexpc{
    grid-area: 2/1/3/2;
  }
  .compexpd{
    grid-area: 2/2/3/3;
  }
  .compexpe{
    grid-area: 3/1/4/2;
  }
  .compexpf{
    grid-area: 3/2/4/3;
  }

  
.Component{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
.Compa{
  grid-area: 1/1/2/2;
}
.Compb{
  grid-area: 1/2/2/3;
}
.Compc{
  grid-area: 2/1/3/2;
}
.Compd{
  grid-area: 2/2/3/3;
}

/* CONAINTENT COMPETENCES ADAPTATION A LA FENETRE */



}
